{% extends 'main/index.html' %}
{% load static %}

{% block about %}


<div class="imag1">
    <h5>ПРО КОМПАНІЮ</h5>
    </div>
<div class="teht">
    Науково-виробниче підприємство<!--img src="img/main/foodline-aw.480x480.png" width="250" height="250" align="top"-->
       Anglo Internetional Mining B.V.(A.I.M.B.V) була заснована у 1980 році у місті Brubssumm, Нідерланди.
    На початку заснування компанія  займалася  дослідженнями та технічними послугами, а трохи згодом сконцентрувала свою діяльність на нафтохімічну галузь.

    Через зосередження на виробництві мастильних матеріалів у 2005 був створений бренд AIMOL.


    <h2>Основними напрямками діяльності AIMOL є :</h2>
Постійні дослідження та розробкa на нафтохімічному ринку.
Виробництво мастильних матеріалів для харчового виробництва, важкої промисловості та автомобільні мастила.</li>

Завдяки широким дослідженням виробництва та потреб ринку AIMOL завжди покращує якість своєї продукції,
    а також пропонує сучасні рішеня задля покритя особливих потреб клієнта.

    </div>
    {% endblock %}






