{% extends 'main/index.html' %}
{% load static %}

{% block product %}
<div class="imag3">
    <h5>ПРОДУКТ</h5>
    </div>

<div class="prodlist">
    <h2></h2>

    <img src="main/static/main/img/PAO.jpg" width="" height="auto"  align="">
       <p><strong>AIMOL Foodline AW PAO</strong><br>
        Синтетичні масла для харчової промисловості<br>
        AIMOL Foodline AW PAO розроблено з використанням спеціально відібраних синтетичних
        базових компонентів у поєднанні з новітньою технологією добавок.
        AIMOL Foodline AW PAO нетоксичний. AIMOL Foodline AW PAO підходить для застосувань,
        де можливий випадковий контакт з харчовими продуктами або сировиною під час виробництва.
        Весь асортимент схвалений NSF. Завдяки чудовим характеристикам і ретельно підібраним добавкам,
        масла AIMOL Foodline AW PAO можуть використовуватися в більшості випадків у виробничому процесі
        харчової та переробної промисловості.</p>


    <br>
    <p><img src="img/main/foodline-chain-68.300x0x1.png"width="250" height="250" align="top">
    Foodline-chain dooje garne mastilo</p>
    <br>
    <p>Oil 3</p>
    <br>
    <p>Oil 4</p>
    <br>
    <p>Oil 5</p>




    </div>

{% endblock %}
